<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href={% url "inicio" %}>Inicio</a>
        <a href={% url "agregar_empleado" %}>Agregar Empleado</a>
        <a href={% url "mostrar_trabajadores" %}>Lista de Trabajadores</a>
    </nav>
    <h1>Agregar Empleado</h1>

    <form action={% url "agregar_empleado" %} method="POST">
        {% csrf_token %}
         <table>
            {{formulario}}
         </table>      
        <input type="submit" value="Agregar Empleado">
    </form>
</body>
</html>